<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12">
	<div class="text-center">
        <h1 id="main-text" class="display-4 mb-4">Willkommen bei treff.top</h1>
	</div>
        <p>Diesen digitalen Treffpunkt können alle Menschen als virtuelle Kantine, für den abendlichen Stammtisch oder zum Austausch mit Verwandten und Freunden nutzen.</p>
        <p>Wir bitten folgendes zu beachten:</p>
        <ul>
          <li>Alle Menschen sind willkommen</li>
          <li>Die Services sind gratis verfügbar für alle nicht-kommerziellen Aktivitäten</li>
          <li>Die Unterstützung durch unsere Freiwilligen ist beschränkt</li>
          <li>Geht anständig und respektvoll miteinander um</li>
          <li>Keine Aufzeichnungen des Sprachchats (Mumble)</li>
        </ul>
        <p>Bitte die <a target="_blank" href="https://treff.top/nutzungsbedingungen/">Nutzungsbedingungen</a> lesen.</p>
        <p>Administratoren:</p>
        <ul>
          <li>Exception (Stefan Thöni)</li>
          <li>Atropos</li>
        </ul>
	<p>Dieses Angebot wird von der <a target="_blank" href="https://parat.swiss">PARAT</a> zur Verfügung gestellt</p>
      </div>
    </div>
  </div>
</div>

